.Home {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/maps.jpg');
    background-color: var(--blue);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home>h2 {
    font-size: 100px;
    color: white;
}