.CountryCard {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 50px;
    background-color: #fcfcfc;
    transition: .4s;
}

.CountryCard > * {
    text-decoration: none;
}

.CountryCard:hover {
    background-color: white;
    box-shadow: 5px 5px 8px 1px #dfd5cd;
    border-radius: .5rem;
}

.CountryCard img {
    opacity: .7;
    transition: .4s;
}

.CountryCard:hover img {
    opacity: 1;
}

.country-name {
    text-decoration: none;
}

.flag {
    width: 200px;
    height: 130px;
    margin: 20px 0;
}